* {
  padding:0;
  margin:0;
  font-family: Oswald, sans-serif;
}

body {
    background-color: #2B2301;
    background-attachment: fixed;
    
}

.clearfix {
    overflow: hidden;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.center-content {
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%
}

    /* Begin Styles by ID */

#main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#header {

}

#name {
    color: #73AFB6;
    font-family: Oswald, sans-serif;
    font-weight: 400; 
}

#skills {
    color: #73AFB6;
    font-family: Overlock, sans-serif;
    letter-spacing: 1.5px;
    text-shadow: 1px 4px 6px #000000;
    font-size: 22px;
    font-weight: 400;
    list-style-type: none;
    padding-bottom: 0px;
    margin-top: 15px;
}

#skillItem {
    
}

#workExperience {
    clear: both;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#duties {
    font-family: Oswald, sans-serif;
    color: #5F9DA1;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 0;
}

#dutiesItems {  
    margin-top: 0;
    padding: 0;   /* Makes the list snuggle with its heading */
    list-style: none;
}

#dutiesItems ~ .flex-item {
    margin-bottom: 10px;
    list-style: none;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#projects img {
    width: 100%;
    max-width: 375px;
    border-radius: 10px;
    overflow: hidden;
}

#education {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

#education em {
    font-size: 16px;
    color: #E2D893;
    font-weight: 400;
}

#letsConnect {
    width: 100%;
    font-family: Overlock, sans-serif;
    font-size: 18px;
}

    /* END STYLES BY ID */

.education-entry, .work-entry, .project-entry {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    width: 100%;
    max-width: 450px;
    flex-grow: 1;
    flex-basis: 400px;
    align-self: stretch;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 40px;
    color: #F5A623;
    line-height: 48px;
    display: inline;
}

h2 {
    font-weight: 700;
    font-family: Oswald, sans-serif;
    font-size: 24px;
    color: #73AFB6;
    line-height: 29px;
    padding: 5px;
    width: 55%;
    margin-right: auto;
}

h3 {
    font-style: normal;
    font-size: 18px;
    color: #73AFB6;
    line-height: 22px;
    width: 55%;
    margin-right: auto;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 17px;
}

h2, h3, h4, h5 {
    padding:10px;
    padding-left: 5%;
    padding-right: 5%;
}

.date-text {
    font-style: italic;
    font-size: 16px;
    color: #ffffff;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 16px;
    color: #999999;
    line-height: 16px;
    float: right;
}

.bullet-text{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #73AFB6;  
}

.flex-item .bullet-text{
    margin-bottom: 10px;
}

p {
    color: #E2D893;
    font-size: 14px;
    line-height: 21px;
}

a {
    color: #1199C3;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.welcome-message {
    color: #E2D893;
    font-family: Overlock, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    line-height: 28px;
    text-shadow: 1px 4px 4px #000000, 0 0 0 #000, 1px 4px 3px #73AFB6;
}

.flex-item{
    text-align: center;
    align-self: stretch;
    flex-grow: 1;
}

/* Original project Class now used for testing
    .orange {
      background-color: #F5AE23;
    }
*/

.blue-text {
    font-size: 22px;
    font-family: Overlock, sans-serif;
    letter-spacing: 1px;
    text-shadow: 1px 4px 4px #000000, 0 0 0 #000, 1px 4px 3px #73AFB6;
    color: #5F9DA1;
}

.heading-text {
    font-size: 26px;
    font-family: Oswald, sans-serif;
    letter-spacing: 3px;
    text-shadow: 1px 4px 6px #000000, 0 0 0 #000, 1px 4px 6px #000000;
    color: #ffffff;
}

.white-text {
    color: #ffffff;
    font-size: 20px;
    font-family: Overlock, sans-serif;
    font-weight: 400;
    text-shadow: 1px 4px 3px #73AFB6;
}



img {
    margin: 10px;
}

.biopic {
    float: left;
    width: 175px;
    display: none;
    border-radius: 50%;
    overflow: hidden;
}

/* Bar chart stuff */
.chart div {
    font: 10px sans-serif;
    background-color: #4A4A4A;
    text-align: right;
    padding: 3px;
    margin: 1px;
    height: 12px;
    color: white;
    display: inline-block;
}

span {
    padding: 5px;
}

ul {
    list-style-type: none;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
    -webkit-padding-start: 0px;
}


    /*  Start Custom ToolTip
    *
    *    Uses CSS to build tool tips for contact information
    *   <span class="contact-ttp"></span> defines type of tool tip
    */

a.contact-ttp {
    position: relative;
    display: inline;
}
a.contact-ttp span {
    position: absolute;
    display: inline;
    color: #FFFFFF;
    background: #000000;
    border: 2px outset #ababab;
    line-height: 30px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
    border-radius: 7px;
}
a.contact-ttp span:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -12px;
    width: 0; height: 0;
    border-bottom: 12px solid #ababab;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}
a.contact-ttp span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
a:hover.contact-ttp span {
    visibility: visible;
    opacity: 0.85;
    top: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 10;
}

    /* Hides ToolTips In Footer */

#letsConnect li a span{
    display: none;
}

    /* END TOOLTIP */


@media only screen and (max-width: 1024px) {
    #letsConnect {
        margin-top: 5%;
    }
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    }
}

@media only screen and (max-width: 750px) {
    #letsConnect {
        margin-top: 10%;
    }
    .biopic {
        width: 150px;
    }
    .welcome-message {
        display: none;
    }
    #map {
        display: block;
        height: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #mapDiv {
        height: 400px;
        width: 100%;
        padding-bottom: 5%;
    }
}
@media only screen and (min-width: 768px) {
    #skills,
    .biopic {
        display: block;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    p {
        font-size: 13px;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    .blue-text {
        font-size: 18px;
    }
    #letsConnect {
        margin-top: 2%;
    }
    #letsConnect  h2 {
        padding-bottom: 0px;
    }
    #footerContacts {
        padding-top: 2px;
    }
    .education-entry, .work-entry, .project-entry {
        margin-left: auto;
        margin-right: auto;
        margin-top: 7px;
        margin-bottom: 7px;
        max-width: 275px;
    }
    a {
        margin-top: 0px;
    }
    
    
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    p {
        font-size: 13px;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    .blue-text {
        font-size: 14px;
    }
    a {
        margin-top: 0px;
    }
    #letsConnect {
        margin-top: 10%;
    }
    #letsConnect  h2 {
        padding-bottom: 0px;
    }
    #footerContacts {
        padding-top: 2px;
    }
    a {
        margin-top: 0px;
    }
}