    //* Starts the Stylesheet *//
* {
  padding:0;
  margin:0;
  font-family: Roboto, sans-serif;
}

body {
    //background:
    //linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    //linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    //linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    //linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    //linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    //linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    background-attachment: fixed;
}

#main{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix {
  overflow: hidden;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 40px;
  color: #F5A623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;
}

p {
  color: #ababab;
  font-size: 14px;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

#name {
    color: #00bf93;
    font-family: Overlock, sans-serif;
    font-weight: 400;
    font-size: 52px;
    letter-spacing: 150%;
    text-shadow:
        0px 0px 3px #ffffff,
        1px 2px 1px #b1e425,
        2px 3px 1px #65c6bf,
        3px 4px 1px #7bcd09;
}

.welcome-message {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    text-shadow: 0px 6px 8px #634271, 1px 1px 1px black, 1px 4px 6px #634271;
    font-size: 22px;
    line-height: 28px;
}

#skillsH3 {
  color: #F5AE23;
  font-family: Bangers, sans-serif;
  letter-spacing: 1.5px;
  text-shadow: 1px 4px 6px #000000, 0 0 0 #000, 1px 4px 6px #000000;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  display: none;
}

.orange {
  background-color: #F5AE23;
}

.orange-text {
    font-size: 24px;
    font-family: Bangers, sans-serif;
    letter-spacing: 1.5px;
    text-shadow: 1px 4px 6px #000000, 0 0 0 #000, 1px 4px 6px #000000;
    color: #F5AE23;
}

.heading-text {
    font-size: 26px;
    font-family: Bangers, sans-serif;
    letter-spacing: 3px;
    text-shadow: 1px 4px 6px #000000, 0 0 0 #000, 1px 4px 6px #000000;
    color: #ffffff;
}

.white-text {
    color: #ffffff;
    font-family: Orbitron, sans-serif;
    font-weight: 400;
    text-shadow: 1px 4px 6px #634271, 0 0 0 #000, 1px 4px 6px #634271;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear:both;
}

.black {
  background-color: black;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4A4A4A;
}

/* TODO: Replace with image later */
#header {

}

#workExperience{
    clear: both;
    padding-bottom: 10px;
    border-bottom: 2px;
    border-bottom-style: outset;
    border-color: #ababab;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

img {
  margin: 10px;
}
#projects img{
    display: inline-block;
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:
        5px 0px 5px #7bcd09,
        -5px 0px 5px #a6df14,
        0px -5px 5px #65c6bf,
        0px 5px 5px #00c095;


}

.biopic {
  float: left;
  width: 175px;
  display: none;
  border-radius: 50%;
  overflow: hidden;
  box-shadow:
        5px 0px 5px #7bcd09,
        -5px 0px 5px #a6df14,
        0px -5px 5px #65c6bf,
        0px 5px 5px #00c095;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

    /*
        Uses CSS to build tool tips for contact information
        <span class=""></span> defines type of tool tip
    */

a.contact-ttp {
  position: relative;
  display: inline;
}
a.contact-ttp span {
  position: absolute;
  display: inline;
  color: #FFFFFF;
  background: #000000;
  border: 2px outset #ababab;
  line-height: 30px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  visibility: hidden;
  white-space: nowrap;
  border-radius: 7px;
}
a.contact-ttp span:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-bottom: 12px solid #ababab;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
a.contact-ttp span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.contact-ttp span {
  visibility: visible;
  opacity: 0.85;
  top: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 10;
}

    /* Hides Tool Tips In Footer */

#letsConnect li a span{
    display: none;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}
